.bcc-button-row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
}

button.bcc-generate-commit-message {
  background-color: #8e4ebc;
  color: white;
  border-radius: 3px;
  padding: 6px 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  align-self: flex-start;
}

button.bcc-generate-commit-message:hover {
  background-color: #7943a2;
}

button.bcc-generate-commit-message:active {
  background-color: #44265b;
}

button.bcc-generate-commit-message:focus-visible {
  outline: 2px solid #2684ff;
  outline-offset: 2px;
}

.bcc-lint-error-message {
  font-size: 14px;
}

.bcc-lint-error-message.error {
  color: #ec6340;
}

.bcc-lint-error-message.warning {
  color: #f3af3d;
}
